<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
<title>Mi Biblioteca</title>

<!-- Favicon -->
<link rel="icon" type="image/png" th:href="@{/fondo_registro.jpg}">

    <title>Formulario de Libro</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/layaout.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/form.css}">
    <!-- Enlace al CSS para Spring Boot con Thymeleaf-->
    <link rel="stylesheet" href="/src/main/resources/static/css/layaout.css" >
    <link rel="stylesheet" href="/src/main/resources/static/css/form.css" >
</head>
<body>

<header>
    <h1 th:text="${book.id == null} ? 'Nuevo Libro' : 'Editar Libro'">Formulario</h1>
    <p>Gestión de libros</p>
</header>

<nav>
    <a th:href="@{/}">Inicio</a>
    <a th:href="@{/web/auth/perfil}">Perfil</a>
    <a th:href="@{/web/admin/books}">Gestión de libros</a>
    <a th:href="@{/web/admin/sales}">Ventas</a>
    <a th:href="@{/web/admin/users}">Usuarios</a>
    <a th:href="@{/web/auth/logout}">Cerrar sesión</a>
</nav>

<main>
    <div >
        <form th:action="@{/web/admin/books/save}"
              th:object="${book}"
              method="post"
              enctype="multipart/form-data">

            <input type="hidden" th:field="*{id}" />

            <label for="title">Título:</label>
            <input type="text" id="title" th:field="*{title}" required />

            <label for="author">Autor:</label>
            <input type="text" id="author" th:field="*{author}" required />

            <label for="price">Precio:</label>
            <input type="number" id="price" th:field="*{price}" step="0.01" required />

            <label for="stock">Stock:</label>
            <input type="number" id="stock" th:field="*{stock}" required />

            <label for="description">Descripción:</label>
            <input type="text" id="description" th:field="*{description}" required />


            <label for="imageFile">Imagen:</label>
            <input type="file" id="imageFile" name="imageFile" />

            <button type="submit">Guardar</button>
            <a th:href="@{/web/admin/books}">Cancelar</a>
        </form>
    </div>
</main>

<footer>
    <p>&copy; 2025 Mi Biblioteca. Todos los derechos reservados.</p>
    <p>
        <a th:href="@{/informacionWeb}">Información Web</a> |
        <a th:href="@{/informacionApi}">Información API</a> |
        <a href="https://github.com/whnazv">GitHub</a>
    </p>
</footer>

</body>
</html>
